header{
    font-size: 15px;
    text-align:left;
    font-family: monospace;
    color: #039be5;
    margin: 5px;
    padding: 1px;
  }

section.preguntas div.row{
font-family: 'Balsamiq Sans', cursive;
font-size: 30px;
display: flex;
margin-bottom: 1em;
margin-left: auto;
margin-right: auto;
float: left;
max-width: 1000px;
}

.pregunta_1{  
color:#fdd835;
}

.pregunta_2{
color: #6a1b9a;
}
.pregunta_3{
color:#fb8c00;
}
.pregunta_4{
color:#7cb342;
}
.pregunta_5{
color:#01579b;
}
.pregunta_6{
color:#80deea  ;
}
.pregunta_7{
color:#b388ff;
}
.pregunta_8{
color: #e3f2fd;
}
.pregunta_9{
color:#d4e157;
}
.pregunta_10{
color:#a1887f;
}
.pregunta_11{
color:#bdbdbd;
}   
.pregunta_12{
color:#9575cd;
}

.pregunta_13{
color:#b71c1c;
}

#carrusel{
    justify-content: end;
    height: 100px;
}

.carrusel_inicial{
float: right;
width: 210px;
padding: 100px;
margin: auto;

position: static;
margin-top: 150px;
transform: rotate(0deg);
}

#contenedor-carrusel{
    float: right;
    margin-right: 10px;
    position: relative;
     animation: rotar 10s infinite linear;
    transform-style:preserve-3d;
}

#contenedor-carrusel figure{
    position: absolute;
    right: 80px;
    margin-top: 300px;
}

#contenedor-carrusel figure:nth-child(1){
    transform: rotateX(0deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(2){
    transform: rotateX(40deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(3){
    transform: rotateX(80deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(4){
    transform: rotateX(120deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(5){
    transform: rotateX(160deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(6){
    transform: rotateX(200deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(7){
    transform: rotateX(240deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(8){
    transform: rotateX(280deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(9){
    transform: rotateX(320deg) translateZ(180px);
}

#contenedor-carrusel figure:nth-child(10){
    transform: rotateX(360deg) translateZ(180px);
}

@keyframes rotar{
 from{transform: rotateX(0deg);}
     to{transform: rotateX(100deg);}
}

#fondo_section{
background-image: url(fondo.jpg);
height: 500px;
width: auto;
margin: 0;
padding: 0;
}

#pagos{
display: inline-block;
float: left;

}

.envio{
    float: right;
}

h2 {
font-family: bombing;
color: blanchedalmond;
font-size: 50px;
}

.contenerdor_slider{

}

#reloj_section{
margin: 0;
padding: 2em;
color: #16265d;
background: #ffe076;
border-bottom: 10px solid orange;
}

#reloj_section p:first-child{
margin: 0;
font-size: 40px;
font-family: LemonYellowSun;
text-align: center;
line-height: 1em;
}

#reloj_container{
display: flex;

justify-content: space-around;
}

#reloj_container .reloj{
Display: flex;
}

#reloj_container .reloj p{
font-size: 20px;
line-height: 30px;
text-align: center;
 }

.contenedor-imagenes .niñas{
display: inline-block;
column-gap:0;
}

#canales{
font-family:LemonYellowSun;
text-align: center;
}

#section-videos{
display:inline-block;

      
}